<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Page d'ajout des contrats</title>
</head>
<body>

	<h1>Formulaire d'ajout d'un contrat</h1>

	<h2>{{msg}}</h2>

	<form class="form-horizontal">

		<div class="form-group">
		<label for="idoffre" class="control-label col-sm-2">Mode d'offre</label>
		<div class="col-sm-6">
			<select class="form-control" id="idoffre"
				ng-model="type">
				<option ng-value="true">Achat</option>
				<option selected="selected" ng-value="false">Location</option>
			</select>
		</div>
	</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="iddateAchat">Date
				d'achat</label>
			<div class="col-sm-6">
				<input type="date" class="form-control" id="iddateAchat"
					placeholder="Entrez la date d'achat" ng-model="contrat.dateAchat">
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="idPrix">Prix final</label>
			<div class="col-sm-6">
				<input type="number" class="form-control" id="idPrix"
					placeholder="Entrez le prix final d'achat"
					ng-model="contrat.prixFinal">
			</div>
		</div>
		
		<div class="form-group">
			<label for="idLocation" class="control-label col-sm-2">Client</label>
			<div class="col-sm-6">
				<select class="form-control" id="idLocation"
					ng-model="contrat.client.id_client">
					<option ng-value="client.id_client"
						ng-repeat="client in clientsListe">ID : {{client.id_client}} /
						NOM : {{client.nom}}</option>
				</select>
			</div>
		</div>

		<div class="form-group" ng-show="type">
			<label for="idAchat" class="control-label col-sm-2">Achat</label>
			<div class="col-sm-6">
				<select class="form-control" id="idAchat"
					ng-model="contrat.achat.id_b">
					<option ng-value="achat.id_b" ng-repeat="achat in achatListe">ID : {{achat.id_b}} /
						PRIX DE VENTE : {{achat.prixVente}}euros / ETAT : {{achat.etat}}</option>
				</select>
			</div>
		</div>

		<div class="form-group" ng-show="!type">
			<label for="idLocation" class="control-label col-sm-2">Location</label>
			<div class="col-sm-6">
				<select class="form-control" id="idLocation"
					ng-model="contrat.location.id_b">
					<option ng-value="location.id_b"
						ng-repeat="location in locationListe">ID : {{location.id_b}} /
						LOYER : {{location.loyer}}euros / CHARGES : {{location.charges}}euros / CAUTION : {{location.caution}}euros</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default"
					ng-click="ajouterContrat()">Ajouter</button>
			</div>
		</div>
	</form>

</body>
</html>