<h1>Formulaire d'ajout de bien</h1>

	<h2>{{msg}}</h2>

	<form class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-sm-2" for="idStatut">Statut</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="idStatut"
					placeholder="Entrez le statut"
					ng-model="location.statut">
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="iddateSoumission">Date de soumission</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="iddateSoumission"
					placeholder="Entrez la date de soumission"
					ng-model="location.dateSoumission">
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="idPrixMax">Prix
				maximal</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="idPrixMax"
					placeholder="Entrez le prix maximal"
					ng-model="classeStandard.prixMax">
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="idSuperficieMin">Superficie
				minimale</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="idSuperficieMin"
					placeholder="Entrez la superficie minimale"
					ng-model="classeStandard.superficieMin">
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default"
					ng-click="ajouterLocation()">Ajouter</button>
			</div>
		</div>
	</form>