<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Page d'ajout des visites</title>
</head>
<body>

	<h1>Formulaire d'ajout de visite</h1>

	<h2>{{msg}}</h2>

	<form class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-sm-2">Date</label>
			<div class="col-sm-6">
				<input type="date" class="form-control" id="idrdv"
					placeholder="Entrez la date de rendez-vous" ng-model="visite.rdv">
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label col-sm-2">Heure</label>
			<div class="col-sm-6">
				<input type="time" class="form-control" id="idheure"
					placeholder="Entrez l'heure de rendez-vous" ng-model="visite.heure">
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2">Type de contrat</label>
			<div class="col-sm-6">
				<select class="form-control" id="idoffre" ng-model="type">
					<option ng-value="true">Achat</option>
					<option selected="selected" ng-value="false">Location</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2">Client</label>
			<div class="col-sm-6">
				<select class="form-control" id="idLocation"
					ng-model="visite.client.id_client">
					<option ng-value="client.id_client"
						ng-repeat="client in clientsListe">ID :
						{{client.id_client}} / NOM : {{client.nom}}</option>
				</select>
			</div>
		</div>

		<div class="form-group" ng-show="type">
			<label for="idAchat" class="control-label col-sm-2">Achat</label>
			<div class="col-sm-6">
				<select class="form-control" id="idAchat"
					ng-model="visite.achat.id_b">
					<option ng-value="achat.id_b" ng-repeat="achat in achatListe">ID
						: {{achat.id_b}} / PRIX DE VENTE : {{achat.prixVente}}euros / ETAT
						: {{achat.etat}}</option>
				</select>
			</div>
		</div>
		
		<div class="form-group" ng-show="!type">
			<label for="idLocation" class="control-label col-sm-2">Location</label>
			<div class="col-sm-6">
				<select class="form-control" id="idLocation"
					ng-model="visite.location.id_b">
					<option ng-value="location.id_b"
						ng-repeat="location in locationListe">ID : {{location.id_b}} /
						LOYER : {{location.loyer}}euros / CHARGES : {{location.charges}}euros / CAUTION : {{location.caution}}euros</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default"
					ng-click="ajouterVisite()">Ajouter</button>
			</div>
		</div>
	</form>

</body>
</html>