<!DOCTYPE html>
<html>
<head>

<meta charset="ISO-8859-1">


<title>Liste des visites</title>
</head>
<body>

	<h2>Liste des visites</h2>

	<div id="dvContainer">
		<div id="table">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th></th>
						<th colspan="10" style="text-align: center">Type de Contrat</th>
					</tr>
				</thead>
				<tbody>
					<th>ID</th>
					<th scope="row">Client</th>
					<th>Date</th>
					<th colspan="5" style="text-align: center">Achat</th>
					<th colspan="5" style="text-align: center">Location</th>
					<th>Opérations</th>
					</tr>
					<tr ng-repeat="visite in visiteListe">
						<td>{{visite.id}}</td>
						<td scope="row">{{visite.client.nom}} (tel :
							{{visite.client.numero}})</td>
						<td>{{visite.rdv | date : "short"}}</td>
						<td colspan="5" style="text-align: center">{{visite.achat.id_b}} {{visite.achat.adresse.numero}},{{visite.achat.adresse.rue}},{{visite.achat.adresse.cp}}
							{{visite.achat.adresse.ville}}<br /> Superficie :
							{{visite.achat.superficie}}<br /> Prix :
							{{visite.achat.prixVente}}
						</td>
						<td colspan="5" style="text-align: center">{{visite.location.id_b}} {{visite.location.adresse.numero}},{{visite.location.adresse.rue}},{{visite.location.adresse.cp}}
							{{visite.location.adresse.ville}}<br /> Superfice :
							{{visite.location.superficie}}<br /> Loyer :
							{{visite.location.loyer}}
						</td>
						<td><a ng-click="deleteLien(visite)"> <span
								class="glyphicon glyphicon-minus"></span>
						</a> | <a ng-click="updateLien(visite)"> <span
								class="glyphicon glyphicon-pencil"></span>
						</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<input type="button" onclick="myFunction()"
			value="Imprimer/télécharger" id="btnPrint"
			style="position: absolute; width: 20%; left: 40%"></input>

	</div>


</body>
</html>