<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Liste des locations</title>
</head>
<body>

	<h2>Liste des locations</h2>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>Classe standard</th>
				<th>Statut</th>
				<th>Date de soumission</th>
				<th>Date de disponibilité</th>
				<th>Revenu cadastral</th>
				<th>Superficie</th>
				<th>Agent</th>
				<th>Propriétaire</th>
				<th>Numéro</th>
				<th>Rue</th>
				<th>CP</th>
				<th>Ville</th>
				<th>Caution</th>
				<th>Loyer</th>
				<th>Charges</th>
				<th>Bail</th>
				<th>Meublé</th>
				<th>Opérations</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="location in locationListe">
				<td>{{location.id_b}}</td>
				<td>{{location.classe.id_cl}}</td>
				<td>{{location.statut}}</td>
				<td>{{location.dateSoumission}}</td>
				<td>{{location.dateDisponibilite}}</td>
				<td>{{location.revenuCadastral}}</td>
				<td>{{location.superficie}}</td>
				<td>{{location.agent.identifiant}}</td>
				<td>{{location.proprio.id}}</td>
				<td>{{location.adresse.numero}}</td>
				<td>{{location.adresse.rue}}</td>
				<td>{{location.adresse.cp}}</td>
				<td>{{location.adresse.ville}}</td>
				<td>{{location.caution}}</td>
				<td>{{location.loyer}}</td>
				<td>{{location.charges}}</td>
				<td>{{location.bail}}</td>
				<td>{{location.meuble}}</td>
				<td><a ng-click="deleteLien(location)"> <span
						class="glyphicon glyphicon-minus"></span>
				</a> | <a ng-click="updateLien(location)"> <span
						class="glyphicon glyphicon-pencil"></span>
				</a></td>
			</tr>
		</tbody>
	</table>

</body>
</html>