<meta charset="ISO-8859-1">


<h2>Liste des classes standard</h2>

<input type="text" id="searchByType" placeholder="Recherche"
	ng-model="search">

<table class="table table-hover" id="listeCS">
	<thead>
		<tr>

			<th>ID</th>
			<th>Type de bien</th>
			<th>Mode d'offre</th>
			<th>Prix maximal</th>
			<th>Superficie minimale</th>
			<th>Opérations</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="classe in classesStandardListe | filter:search">
			<td>{{classe.id_cl}}</td>
			<td>{{classe.typeBien}}</td>
			<td>{{classe.modeOffre}}</td>
			<td>{{classe.prixMax}}</td>
			<td>{{classe.superficieMin}}</td>
			<td><a ng-click="deleteLien(classe)"> <span
						class="glyphicon glyphicon-minus"></span>
				</a> | <a ng-click="updateLien(classe)"> <span
						class="glyphicon glyphicon-pencil"></span>
				</a></td>
		</tr>
	</tbody>
</table>

<script>
	
</script>

</body>
</html>