<meta charset="ISO-8859-1">

	<h1>Formulaire de recherche de classes standard</h1>

	<h5 style="color: red;">Les champs précédés d'un * sont obligatoires</h5>
	

	<form class="form-horizontal" name="rechClasseStandardForm">

		<div class="form-group">
			<label class="control-label col-sm-2" for="Id">ID *</label>
			<div class="col-sm-6">
			<select class="form-control" id="Id" ng-model="idClasseStandard">
				<option ng-value="classe.id_cl"
					ng-repeat="classe in classesStandardListe">{{classe.id_cl}}
					{{classe.typeBien}} {{classe.modeOffre}} de moins de {{classe.prixMax}} euros et de plus de {{classe.superficieMin}} m²/ares </option>
			</select>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default"
					ng-click="rechercherClasseStandard()" ng-disabled="rechClasseStandardForm.$invalid">Rechercher</button>
			</div>
		</div>
	</form>

	<table class="table table-hover" ng-show="indice" style="color:black">
		<thead>
			<tr>
				<th>ID</th>
				<th>Type de bien</th>
				<th>Mode d'offre</th>
				<th>Prix maximal</th>
				<th>Superficie minimale</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				
				<td>{{classeStandardFind.id_cl}}</td>
				<td>{{classeStandardFind.typeBien}}</td>
				<td>{{classeStandardFind.modeOffre}}</td>
				<td>{{classeStandardFind.prixMax}}</td>
				<td>{{classeStandardFind.superficieMin}}</td>
			</tr>
		</tbody>
	</table>