<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Page de recherche des visites</title>
</head>
<body>

	<h1>Formulaire de recherche des visites</h1>

	<h2>{{msg}}</h2>

	<form class="form-horizontal">

		<div class="form-group">
			<label class="control-label col-sm-2" for="Id">ID</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="Id"
					placeholder="Entrez l'id de la visite" ng-model="id">
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default"
					ng-click="rechercherVisite()">Rechercher</button>
			</div>
		</div>
	</form>

<h2>Resultat de la recherche</h2>

	<table class="table table-bordered" ng-show="indice">
    <thead>
    <tr>
        <th></th>
        <th colspan="10" style="text-align: center">Type de Contrat</th>
    </tr>
    </thead>
    <tbody>
        <th scope="row">Client</th>
        <th colspan="5" style="text-align: center">Achat</th>
        <th colspan="5" style="text-align: center">Location</th>
    </tr>
    <tr ng-repeat="visite in visiteListe">
        <td scope="row">{{visite.client.nom}} (tel : {{visite.client.numero}})</th>
        <td colspan="5" style="text-align: center">{{visite.achat.adresse.numero}},{{visite.achat.adresse.rue}},{{visite.achat.adresse.cp}} {{visite.achat.adresse.ville}}<br/>{{visite.achat.adresse.superficie}}<br/>{{visite.achat.adresse.revenuCadastral}} </td>
        <td colspan="5" style="text-align: center">{{visite.bien.id_b}}</td>
    </tr>
    </tbody>
</table>

</body>
</html>