<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Page de suppression des locations</title>
</head>
<body>

	<h1>Formulaire de suppression des locations</h1>

	<h2>{{msg}}</h2>

	<form class="form-horizontal">

		<div class="form-group">
			<label class="control-label col-sm-2" for="Id">ID</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="Id"
					placeholder="Entrez l'id de la location" ng-model="idLocation">
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default"
					ng-click="supprimerLocation()">Supprimer</button>
			</div>
		</div>
	</form>

</body>
</html>